<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farmup</title>

</head>
<body>
<form action="{% url 'geosearch:map_search' %}" method="post">
    {% csrf_token %}
<input id="autocomplete"
             placeholder="Enter your address"
             type="text" name="address" value="{{ address }}"/>
    <button type="submit">Search</button>
</form>
<script>
    function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'), {types: ['geocode']});

  autocomplete.setFields(['address_component']);

}

    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe2otGPKiUf4Qq35MmOfDWHaQm-Cjtopw&libraries=places&callback=initAutocomplete"
        async defer></script>

     <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


</body>
</html>