<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farmup</title>

</head>
<body>
     <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script

      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe2otGPKiUf4Qq35MmOfDWHaQm-Cjtopw&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">

      #map {
        height: 100%;
      }

    </style>
<script type="text/javascript">
    var c_lat = "{{ lat|safe }}";
    var c_lng = "{{ lng|safe }}";
    var lands =  JSON.parse("{{ display_lands|escapejs  }}");
    console.log(lands);
    var max_zoom = 15;
    var marker, i;
    all_markers = [];
    city_circle = null;
    function initMap() {
        function addMarkerWithTimeout(position, timeout) {
          window.setTimeout(function() {
            all_markers.push(
              new google.maps.Marker({
                position: position,
                map: map,
                animation: google.maps.Animation.DROP
              })
            );
          }, timeout);
        }

        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: Number(c_lat), lng: Number(c_lng)},
            zoom: 12
        });

       var image =
            "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";

        var home_marker = new google.maps.Marker({
            position: {lat: Number(c_lat), lng: Number(c_lng)},
            map: map,
            icon: image,
            info
        });

        for (i = 0; i < lands.length; i++) {

            addMarkerWithTimeout({lat:lands[i]['lat'],lng:lands[i]['lng']},i*200);
            // marker = new google.maps.Marker({
            //     position: new google.maps.LatLng(lands[i]['lat'], lands[i]['lng']),
            //     map: map,
            //     animation: google.maps.Animation.DROP
            // });
            // all_markers.push(marker);
        }
        google.maps.event.addListener(marker, 'click', function (event) {
      if (marker!=null) {
        marker.setMap(null);
      }
      // marker =  new google.maps.Marker({
      //       position: event.latLng,
      //       map: map,
      //   });
      // marker.setMap(map);
    });
    }
    function setNewmarker(){
        var d = document.getElementById('distance').value;
        
        var d = Number(d);
        if(city_circle!=null){
        city_circle.setMap(null);
        }
        var radius = d*1000;
        city_circle = new google.maps.Circle({
            strokeColor: "#40ff00",
            strokeOpacity: 0.35,
            strokeWeight: 0,
            fillColor: "#40ff00",
            fillOpacity: 0.35,
            map: map,
            center: {lat: Number(c_lat), lng: Number(c_lng)},
            radius: radius
        });
        var new_markers=[];
        console.log(d);
        for(i=0;i<lands.length;i++){
            console.log(lands[i]['dist'],typeof(lands[i]['dist']));
            if(lands[i]['dist']<d){
                all_markers[i].setMap(map);
            }
            else{
                all_markers[i].setMap(null);
            }
        }
        // all_markers = new_markers;
        d = d/1.60934;
        var new_zoom = Math.round(14-Math.log(d)/Math.LN2);
        map.setZoom(new_zoom);
        console.log(new_zoom);
        map.setCenter({lat: Number(c_lat), lng: Number(c_lng)})
        }




</script>
<div style="height: 500px;width: 500px" id="map"></div>

<form>
    <label>Enter radius:</label><input type="Number" id="distance" value="">
    <button onClick="setNewmarker()" type="button">click</button>
</form>

</body>
</html>