venv/*
*.pyc
.idea*
*.log*
*pycache*
*migrations*
db.sqlite3
*.pyc
farmup/credits/__pycache__/__init__.cpython-36.pyc
farmup/credits/__pycache__/__init__.cpython-38.pyc
farmup/credits/__pycache__/admin.cpython-36.pyc
farmup/credits/__pycache__/admin.cpython-38.pyc
farmup/credits/__pycache__/models.cpython-36.pyc
farmup/credits/__pycache__/models.cpython-38.pyc
farmup/credits/__pycache__/urls.cpython-36.pyc
farmup/credits/__pycache__/urls.cpython-38.pyc
farmup/credits/__pycache__/views.cpython-36.pyc
farmup/credits/__pycache__/views.cpython-38.pyc
farmup/credits/migrations/__pycache__/__init__.cpython-36.pyc
farmup/credits/migrations/__pycache__/__init__.cpython-38.pyc
farmup/farmup/__pycache__/__init__.cpython-36.pyc
farmup/farmup/__pycache__/__init__.cpython-38.pyc
farmup/farmup/__pycache__/settings.cpython-36.pyc
farmup/farmup/__pycache__/settings.cpython-38.pyc
farmup/farmup/__pycache__/urls.cpython-36.pyc
farmup/farmup/__pycache__/urls.cpython-38.pyc
farmup/farmup/__pycache__/wsgi.cpython-36.pyc
farmup/farmup/__pycache__/wsgi.cpython-38.pyc
farmup/geosearch/__pycache__/__init__.cpython-36.pyc
farmup/geosearch/__pycache__/__init__.cpython-38.pyc
farmup/geosearch/__pycache__/admin.cpython-36.pyc
farmup/geosearch/__pycache__/admin.cpython-38.pyc
farmup/geosearch/__pycache__/models.cpython-36.pyc
farmup/geosearch/__pycache__/models.cpython-38.pyc
farmup/geosearch/__pycache__/urls.cpython-36.pyc
farmup/geosearch/__pycache__/urls.cpython-38.pyc
farmup/geosearch/__pycache__/views.cpython-36.pyc
farmup/geosearch/__pycache__/views.cpython-38.pyc
farmup/geosearch/migrations/__pycache__/__init__.cpython-36.pyc
farmup/geosearch/migrations/__pycache__/__init__.cpython-38.pyc
farmup/registration/__pycache__/__init__.cpython-36.pyc
farmup/registration/__pycache__/__init__.cpython-38.pyc
farmup/registration/__pycache__/admin.cpython-36.pyc
farmup/registration/__pycache__/admin.cpython-38.pyc
farmup/registration/__pycache__/login_required.cpython-36.pyc
farmup/registration/__pycache__/login_required.cpython-38.pyc
farmup/registration/__pycache__/models.cpython-36.pyc
farmup/registration/__pycache__/models.cpython-38.pyc
farmup/registration/__pycache__/tokens.cpython-36.pyc
farmup/registration/__pycache__/tokens.cpython-38.pyc
farmup/registration/__pycache__/urls.cpython-36.pyc
farmup/registration/__pycache__/urls.cpython-38.pyc
farmup/registration/__pycache__/views.cpython-36.pyc
farmup/registration/__pycache__/views.cpython-38.pyc
farmup/registration/migrations/__pycache__/__init__.cpython-36.pyc
farmup/registration/migrations/__pycache__/__init__.cpython-38.pyc
farmup/shopping_cart/__pycache__/urls.cpython-36.pyc
farmup/shopping_cart/__pycache__/urls.cpython-38.pyc
farmup/shopping_cart/__pycache__/views.cpython-36.pyc
farmup/shopping_cart/__pycache__/views.cpython-38.pyc
farmup/tracking/__pycache__/__init__.cpython-36.pyc
farmup/tracking/__pycache__/__init__.cpython-38.pyc
farmup/tracking/__pycache__/admin.cpython-36.pyc
farmup/tracking/__pycache__/admin.cpython-38.pyc
farmup/tracking/__pycache__/models.cpython-36.pyc
farmup/tracking/__pycache__/models.cpython-38.pyc
farmup/tracking/__pycache__/urls.cpython-36.pyc
farmup/tracking/__pycache__/urls.cpython-38.pyc
farmup/tracking/__pycache__/views.cpython-36.pyc
farmup/tracking/__pycache__/views.cpython-38.pyc
farmup/tracking/migrations/__pycache__/__init__.cpython-36.pyc
farmup/tracking/migrations/__pycache__/__init__.cpython-38.pyc
