{% extends 'registration/base.html' %}
{% load static %}

  {% block head %}    
  <!-- ==============================================
  TITLE AND META TAGS
  =============================================== -->
  <title>Agrom - Organic & Agriculture Food HTML Template</title>
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="author" content="Quickdev">
      <meta name="theme-color" content="#EEC344">
        <meta charset="UTF-8">
  <!-- ==============================================
  FAVICON
  =============================================== -->  
      <link rel="shortcut icon" href="{% static 'homepage/img/master/favicon.png' %}">
            
  <!-- ==============================================
  CSS
  =============================================== -->  
      <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %} ">
      <link rel="stylesheet" href="{% static 'homepage/css/stylesheet.css' %}">
      <link rel="stylesheet" href="{% static 'homepage/css/custom.css' %}">
      <link rel="stylesheet" href="{% static 'homepage/fonts/css/all.min.css' %}">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe2otGPKiUf4Qq35MmOfDWHaQm-Cjtopw&libraries=places&callback=initAutocomplete"
            async defer></script>

     <script>
         var autocomplete;
            function initAutocomplete() {
          autocomplete = new google.maps.places.Autocomplete(
              document.getElementById('autocomplete'), {types: ['geocode']});

          // Avoid paying for data that you don't need by restricting the set of
          // place fields that are returned to just the address components.
          autocomplete.setFields(['address_component']);

        }

        </script>


    {% endblock %}
    
  {% block body %}
  <!-- LOADER -->
  {% comment %}

    <div id="loader-wrapper">
      <div class="loader">
        <div class="square" ></div>
        <div class="square"></div>
        <div class="square last"></div>
        <div class="square clear"></div>
        <div class="square"></div>
        <div class="square last"></div>
        <div class="square clear"></div>
        <div class="square "></div>
        <div class="square last"></div>
      </div>
  </div> {% endcomment %}
  <!-- LOADER -->
  
  <div class="page">
      
      <!--COUNT DOWN START-->
      <div class="countdown-col col">
        <ul style="color: #003300;font-size:25px;padding-top:13%;padding-left:3%;list-style-type:square;font-weight:bold;text-shadow:-3px 1px #00FFFF">
          <li>Farmer's empowerment</li><br>
          <li>Promote farming, Save farmers</li><br>
          <li>Be Organic</li>
        </ul>
      </div>
      <!--COUNT DOWN END-->
      
      <!--SUBSCRIPTION START-->
      <div class="newsletter-col col">
        <div class="newsletter middle">
          <!--<figure class="logo"><img src="{% static 'background/img/master/logo-2.png' %}" alt=""></figure>-->
          <br>
            <h3>SIGN UP<h3>
            {% if messages %}
					<ul class="messages">
					{% for message in messages %}
					<div class="w3-panel w3-grey w3-display-container">

						<h10 class="{{ message.tags }}" style="color: #de5246;size:10px"> {{ message }}</h10>

					</div>
					{% endfor %}
					</ul>
					{% endif %}


          <form method="post" action="{% url 'registration:register' %}">
              {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" name="username">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password" name="password">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Re-enter Password" name="repassword">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="autocomplete" placeholder="Enter address here" name = "address"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Pincode" maxlength="6" name="pincode">
            </div>
              <div class="btn-more-box"><input type="submit" class="btn-hover-corner" style="color:bisque;background-color:black" value="SignUP"></div>

          </form>
        </div>
      </div>
      <!--SUBSCRIPTION END-->
      
  </div>
  
<!-- ==============================================
JAVASCRIPTS
=============================================== -->
  <script src="{% static 'homepage/js/plugins.js' %}"></script>
  <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>    
  <script src="{% static 'homepage/js/agrom.js' %}"></script>
{% comment %}


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-101241150-1', 'auto');
    ga('send', 'pageview');
  </script>  {% endcomment %}
  {% endblock %}