{% extends 'registration/base.html' %}
{% load static %}

{% block head %}
	
	  

    <style type="text/css">

    	.butn-submit {
  display: block;
  margin-top: 32px;
  width: 50%;
  line-height: 50px;
  font-family: inherit;
  background: #008000;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.butn-submit:hover {
  background: #eb6f00;
}
.butn-group button {
  background-color:#008000; /* Green background */
  border: 1px black; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.butn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.butn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */


/* Set a style for all buttons */

/* Float cancel and delete buttons and add an equal width */
.cancelbutn, .deletebutn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbutn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebutn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 300px;
  top: 80px;
  width: 70%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbutn, .deletebutn {
     width: 100%;
  }
}
a{
  color:inherit;
}
.card{
  box-shadow: 5px 10px 18px #888888;
}
.card:hover{
  box-shadow: 10px 10px 5px grey;
}
</style>
	{% endblock %}
	{% block body %}

	<div class="row">
		{% for key, value in d.items %}
    
    {% with id=value.lid %}
	<a href="{% url 'farmerandlandlord:infoland' value.lid %}">
    <div class="col-sm-3">
      <div class="card ">
        <div class="card-img-top" style=" ">
          <img src="{% static 'img/paddy.jpg ' %}">
        </div>
        <div class="card-body">
          
		<ul>
			<li>{{id}}</li>
			<li>{{value.toc}}</li>
			<li>{{value.wd}}</li>
			<li>{{value.lpc}}</li>
			<li>{{value.la}}</li>
			<li>{{value.tos}}</li>
      
	    </ul>
	    
        </div>
        </a>
        <div class="butn-group">
        <a href="{% url 'farmerandlandlord:formeditland' value.lid %}">
       <button class="butn-submit" style="font-size:24px">Edit</button>
        </a>
       <button class="butn-submit" style="font-size:24px"  value="value.lid" onclick="document.getElementById('id01').style.display='block'" onclick="function(this.value)"><span class="glyphicon glyphicon-trash"></span>Delete</button>
        <div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <div class="modal-content" >
    <div class="container">
      <h1>Delete Land</h1>
      <p>{{id}}</p>
      <p>Are you sure you want to delete your land?</p>
    
      <div class="clearfix">
        <button type="submit" onclick="document.getElementById('id01').style.display='none'" class="butn-submit" style="font-size:24px">Cancel</button>
        <a href="{% url 'farmerandlandlord:deleteland' id  %}">
        <button  onclick="document.getElementById('id01').style.display='none'" class="butn-submit" style="font-size:24px">Delete</button>
      </a>
      <script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    id=value.lid;
    modal.style.display = "none";
  }

}
</script>

      <p>{{id}}</p>
      {% endwith %}
      </div>
    </div>
  </div>
</div>
      </div>
      </div>
        
        
    </div>
    
<!-- Code begins here -->

    {% endfor %}

  </div>

  <div class="butn-group">
    <a href="{% url 'farmerandlandlord:formaddland' %}"><button class="butn-submit" style="font-size:24px">Add Land</button></a>
    <a href="{% url 'farmerandlandlord:landlordviewrequest' %}"><button class="butn-submit" style="font-size:24px">View Requests</button></a>
  </div>
  <div id="piechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Work', 8],
  ['Eat', 2],
  ['TV', 4],
  ['Gym', 2],
  ['Sleep', 8]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'My Average Day', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>

{% endblock %}
	



