{% extends 'registration/base.html' %}
{% load static %}

{% block head %}
	
	    <style type="text/css">
    	.butn-submit {
  display: block;
  margin-top: 32px;
  width: 100%;
  line-height: 50px;
  font-family: inherit;
  background: #008000;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.butn-submit:hover {
  background: #eb6f00;
}
a{
  color:inherit;
}
.card{
  box-shadow: 5px 10px 18px #888888;
}
.card:hover{
  box-shadow: 10px 10px 5px grey;
}
    </style>
  {% endblock %}

	{% block body %}
	
	<div class="row">
		{% for key, value in d.items %}
	<a href="{% url 'farmerandlandlord:infoland' value.lid %}">
    <div class="col-sm-3">
      <div class="card large z-depth-5">
        <div class="card-image" style=" ">
          <img src="{% static 'img/paddy.jpg ' %}">
          
        </div>
        <div class="card-body">
          
		<ul>
			<li>{{value.toc}}</li>
			<li>{{value.wd}}</li>
			<li>{{value.lpc}}</li>
			<li>{{value.la}}</li>
			<li>{{value.tos}}</li>

	    </ul>

        </div>
        <div>
        <a href="{% url 'farmerandlandlord:farmerrequest' value.lid value.uid %}">
	    <button class="butn-submit" style="font-size:24px">Contact</button>
	    </a>
	    </div>

      </div>
    </div>
    </a>
    {% endfor %}

  </div>	
	{% endblock %}



