<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .table1{
            width: 100%;
            font-size: 25px;
            border-collapse: separate;
            border-spacing: 0 1em;
            }
    </style>
</head>
<body>
Tracking

{{ orders }}

<table class="table1">
    <tr>
        <td style="padding: 10px">
            Transaction ID
        </td>
        <td>
            Amount
        </td>
        <td>
            Date
        </td>
        <td>
            Time
        </td>
        <td>
            Transaction Type
        </td>
    </tr>
        <tr class="">
            <td style="padding: 10px">
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>


</table>


</body>
</html>