{% extends 'registration/base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
{#    <link rel="stylesheet" type="text/css" href="{% static 'tracking/track.css' %}">#}
{#    <script src="{% static 'tracking/track.js' %}"></script>#}
{#    <link rel="stylesheet" type="">#}
{#    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">#}
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
    <style>
    body{
        font-family:'Vollkorn', serif;
        font-size: 15px;
    }
    #div1{
        background-color: brown;
    }
        .table1{
            width: 100%;
        {#background-color: black;#}
            font-size: 25px;
            border-collapse: separate;
            border-spacing: 0 1em;
        }
    </style>
{% endblock head %}
{#<body>#}
{% block body %}
    <table class="table1">
        <tr>
            <td style="padding: 10px">
                Username
            </td>
            <td style="padding: 10px">
                Product Name
            </td>
            <td style="padding: 10px">
                Cost
            </td>
            <td style="padding: 10px">
                Quantity
            </td>
            <td>
                Amount
            </td>
            <td>
                Date
            </td>
            <td>
                Time
            </td>
            <td>
                Delivery Status
            </td>
        </tr>

        {% for i in orders %}
            {% for j in crop_orders%}
                {#            {{ if i.crop_id ==  }}#}
                {% if i.crop_id == j.crop_id|add:"0" %}
                    <tr class="" >
                        <td style="padding: 10px">
                            {{ j.name|title }}
                        </td>
                        <td style="padding: 10px">
                            {{ i.username|title }}
                        </td>
                        <td>
                            {{ j.cost }}
                        </td>
                        <td>
                            {{ i.quantity }}
                        </td>
                        <td>
                            {{ i.cost }}
                        </td>
                        <td>
                            {{ i.ordered_date }}
                        </td>
                        <td>
                            {{ i.ordered_time }}

                        </td>
                        <td>
                            {% if is_admin %}
                                <form method="post" id="order-form" action="{% url 'tracking:change' %}" name="change">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ i.order_id }}" name="order_id">
                                    <select name="change" id="change" >
                                        <option> Purchased </option>
                                        <option> Order Confirmed </option>
                                        <option> Order arrived at nearest godown </option>
                                        <option> Expected to Delivery Soon </option>
                                        <option> Out for Delivery </option>
                                        <option> Out for Delivery </option>
                                        <option> Delivered </option>
                                    </select>
                                    <input id='submit' type="submit" name="submit" value="Submit">

                                </form>
                            {% else %}
                            {% endif %}
                        </td>

                    </tr>
                    <tr>
                    <td colspan="8">
                    <div style="display: block" id="div-{{ forloop.counter }}">
                                    This is my DIV element.
                                </div>
                    </td>
                    </tr>

                {% endif %}

            {% endfor %}

        {% endfor %}

    </table>
    <script>
        function myFunction1() {
            var x = document.getElementById("div-1");
            {#var x = document.getElementsByTagName('div');#}
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunction() {
            x = [document.querySelectorAll('input[type=hidden]')];
            var i;
            for(i=0;i<2;i++){
                console.log(x[0][i].value)
            }
            var z = document.getElementById('btn1');
            console.log(z.value);
        }


    </script>

{#    <script>#}
{#        $(document).ready(function() {#}
{#            $('#change').on('change', function() {#}
{#                document.forms['change'].submit();#}
{#            });#}
{#        });#}
{#    </script>#}
{% endblock body %}