{% load static from staticfiles %}

{% block headblock %}
    <meta charset="UTF-8">
    <title>Credits</title>
    <style>
    body{
        background-image: url("{% static 'payment.jpeg' %}");
        position: relative;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .div1{
        background-color: white;
        width:40%;
        height: 470px;
        opacity: 0.9;
        margin-top: 10px;
        border-radius: 30px;

    }
        .button3{
            background-color: #237d80;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            transition: 0.5s;
        }
        .button3:hover{
            background-color: #063e68;

        }
    </style>
    {% endblock %}
{% block content %}
    <center>
<div class="div1">


        <table>
            {% if bal %}

                <tr>
                     <td>
                        Available balance
                    </td>
                    <td>
                           {{ bal }}
                    </td>
                </tr>
            {% else %}
                <p class="tabletype">Account not found.</p>
            {% endif %}
            </table>
        <form action="{% url 'pending_redeem' %}" method="post">
            {% csrf_token %}
            Enter amount to redeem : <br>
            <input type="number" step="any" required name="redeem_amount" id="redeem_amount" value="{{ amount }}" readonly>
            <input type="hidden" name="balance" value="{{ bal }}">
            <h6> You need to have atleast 200 credits to redeem </h6>
            <br><input type="submit" class="button3" value="Redeem"><br><br>
        </form>
<br> <br>
</div>
    </center>
{% endblock %}
