{% extends 'registration/base.html' %}
{% block headblock %}
    <style>
        .input1 {
	 display: block;
	 {#margin: 2em auto;#}
	 border: none;
	 padding: 0;
	 width: 9ch;
	 background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 8.5ch 2px no-repeat;
	 font: 5ch droid sans mono, consolas, monospace;
	 letter-spacing: 0.5ch;
}
 .input1:focus {
	 outline: none;
	 color: #070709;
}

    </style>
    <script>
         history.pushState(null, null, location.href);
         window.onpopstate = function () {
            history.go(1);
         };
    </script>
    <meta charset="UTF-8">
    <title>Title</title>
{% endblock %}
{% block body %}
    Please Enter the verification code below.
    <form action="{% url 'verify_sms' %}" method="post">
        {% csrf_token %}
        Enter the code<br>
        <input name="code" id="code" type="text" class="input1">
        <input type="submit" value="Submit">
        <input type="submit" class="btn btn-secondary btn-sm float-right" style="margin-left: 10px;border-radius:30px" value="submit">

        <a href="/credits/redeem_cancel">
        <input type="button" value="Cancel">
        </a>
    </form>
{% endblock body %}